<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <title>添加班级页面</title>
   <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
 </head>
 <body>
 <div class="container">
     <div class="page-header">
        <h1>班级信息管理
            <small>添加新班级</small>
        </h1>
    </div>
    {# 提交学生信息表单，开始 #}
     <form class="form-horizontal" action="/add_class/" method="post">
      <div class="form-group">
        <label for="inputClassName" class="col-sm-2 control-label">班级名称</label>
        <div class="col-sm-10">
          <input name="cname" type="txt" class="form-control" id="inputClassName" placeholder="班级名称">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
     </form>
 </div>
 </body>
</html>
